#banner{
    display: block;
    width: 90%;
    height: 60vh;
    min-height: 360px;
    overflow: hidden;
    display: flex;
    min-width: 1024px;
}

banner{
    display: block;
    height: 100%;
    flex: 1 0 auto;
    width: 100%;
}

#buttonBannerLeft{
    background: var(--secondary-color);
    padding: 10px;
    z-index: 5;
    display: block;
    position: absolute;
    left: 0%;
}

#buttonBannerRight{
    background: var(--secondary-color);
    padding: 10px;
    z-index: 5;
    display: block;

    right: 0;
    position: absolute;

}
@media screen and (max-width: 1024px){
    #banner {
        width: 100%;
    }
}