banner{
    display: block;
    width: 100%;
    height: 70vh;
    min-height: 360px;
    border: 1px solid rebeccapurple;
    overflow: hidden;
}

#buttonBannerLeft{
    background: var(--secondary-color);
    border-radius: 100%;
    padding: 10px;
    z-index: 5;
    display: inline;
    top: -50px;
}

#buttonBannerRight{
    background: var(--secondary-color);
    border-radius: 100%;
    padding: 10px;
    z-index: 5;
    display: inline;
    top: -100px;
}

