#modalContainer{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0003;
}

#modal{
    height: 460px;
    min-width: 640px;
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#modal table{
    border-collapse: collapse;
}

.editable input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1.15rem;
}

#modal table td{
    border: 1px solid #000;
    padding: 5px;
}

#notification{
    position: fixed;
    border: 1px solid #000;
    color: #000;
    background-color: greenyellow;
    min-width: min(10rem, 20%);
    width: auto;
    height: auto;
    top: 5%;
    left: 5%;
    z-index: 15;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem; 
}

#notification > .title{
    position: absolute;
    font-weight: bold;
    font-size: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    word-wrap: normal;
    overflow-wrap: normal;
}

#notification > .message{
    position: relative;
    word-wrap: break-word;
}

#notification[data-mode=warning]{
    background-color: yellow;
}

#notification[data-mode=error]{
    background-color: orangered;
}

#notification[data-mode=idle]{
    animation: rainbow 10s infinite;
}

@keyframes rainbow {
    0%{background-color: hsl(0, 80%, 50%)}
1%{background-color: hsl(3.6, 80%, 50%)}
2%{background-color: hsl(7.2, 80%, 50%)}
3%{background-color: hsl(10.8, 80%, 50%)}
4%{background-color: hsl(14.4, 80%, 50%)}
5%{background-color: hsl(18, 80%, 50%)}
6%{background-color: hsl(21.6, 80%, 50%)}
7%{background-color: hsl(25.2, 80%, 50%)}
8%{background-color: hsl(28.8, 80%, 50%)}
9%{background-color: hsl(32.4, 80%, 50%)}
10%{background-color: hsl(36, 80%, 50%)}
11%{background-color: hsl(39.6, 80%, 50%)}
12%{background-color: hsl(43.2, 80%, 50%)}
13%{background-color: hsl(46.8, 80%, 50%)}
14%{background-color: hsl(50.4, 80%, 50%)}
15%{background-color: hsl(54, 80%, 50%)}
16%{background-color: hsl(57.6, 80%, 50%)}
17%{background-color: hsl(61.2, 80%, 50%)}
18%{background-color: hsl(64.8, 80%, 50%)}
19%{background-color: hsl(68.4, 80%, 50%)}
20%{background-color: hsl(72, 80%, 50%)}
21%{background-color: hsl(75.6, 80%, 50%)}
22%{background-color: hsl(79.2, 80%, 50%)}
23%{background-color: hsl(82.8, 80%, 50%)}
24%{background-color: hsl(86.4, 80%, 50%)}
25%{background-color: hsl(90, 80%, 50%)}
26%{background-color: hsl(93.6, 80%, 50%)}
27%{background-color: hsl(97.2, 80%, 50%)}
28%{background-color: hsl(100.8, 80%, 50%)}
29%{background-color: hsl(104.4, 80%, 50%)}
30%{background-color: hsl(108, 80%, 50%)}
31%{background-color: hsl(111.6, 80%, 50%)}
32%{background-color: hsl(115.2, 80%, 50%)}
33%{background-color: hsl(118.8, 80%, 50%)}
34%{background-color: hsl(122.4, 80%, 50%)}
35%{background-color: hsl(126, 80%, 50%)}
36%{background-color: hsl(129.6, 80%, 50%)}
37%{background-color: hsl(133.2, 80%, 50%)}
38%{background-color: hsl(136.8, 80%, 50%)}
39%{background-color: hsl(140.4, 80%, 50%)}
40%{background-color: hsl(144, 80%, 50%)}
41%{background-color: hsl(147.6, 80%, 50%)}
42%{background-color: hsl(151.2, 80%, 50%)}
43%{background-color: hsl(154.8, 80%, 50%)}
44%{background-color: hsl(158.4, 80%, 50%)}
45%{background-color: hsl(162, 80%, 50%)}
46%{background-color: hsl(165.6, 80%, 50%)}
47%{background-color: hsl(169.2, 80%, 50%)}
48%{background-color: hsl(172.8, 80%, 50%)}
49%{background-color: hsl(176.4, 80%, 50%)}
50%{background-color: hsl(180, 80%, 50%)}
51%{background-color: hsl(183.6, 80%, 50%)}
52%{background-color: hsl(187.2, 80%, 50%)}
53%{background-color: hsl(190.8, 80%, 50%)}
54%{background-color: hsl(194.4, 80%, 50%)}
55%{background-color: hsl(198, 80%, 50%)}
56%{background-color: hsl(201.6, 80%, 50%)}
57%{background-color: hsl(205.2, 80%, 50%)}
58%{background-color: hsl(208.8, 80%, 50%)}
59%{background-color: hsl(212.4, 80%, 50%)}
60%{background-color: hsl(216, 80%, 50%)}
61%{background-color: hsl(219.6, 80%, 50%)}
62%{background-color: hsl(223.2, 80%, 50%)}
63%{background-color: hsl(226.8, 80%, 50%)}
64%{background-color: hsl(230.4, 80%, 50%)}
65%{background-color: hsl(234, 80%, 50%)}
66%{background-color: hsl(237.6, 80%, 50%)}
67%{background-color: hsl(241.2, 80%, 50%)}
68%{background-color: hsl(244.8, 80%, 50%)}
69%{background-color: hsl(248.4, 80%, 50%)}
70%{background-color: hsl(252, 80%, 50%)}
71%{background-color: hsl(255.6, 80%, 50%)}
72%{background-color: hsl(259.2, 80%, 50%)}
73%{background-color: hsl(262.8, 80%, 50%)}
74%{background-color: hsl(266.4, 80%, 50%)}
75%{background-color: hsl(270, 80%, 50%)}
76%{background-color: hsl(273.6, 80%, 50%)}
77%{background-color: hsl(277.2, 80%, 50%)}
78%{background-color: hsl(280.8, 80%, 50%)}
79%{background-color: hsl(284.4, 80%, 50%)}
80%{background-color: hsl(288, 80%, 50%)}
81%{background-color: hsl(291.6, 80%, 50%)}
82%{background-color: hsl(295.2, 80%, 50%)}
83%{background-color: hsl(298.8, 80%, 50%)}
84%{background-color: hsl(302.4, 80%, 50%)}
85%{background-color: hsl(306, 80%, 50%)}
86%{background-color: hsl(309.6, 80%, 50%)}
87%{background-color: hsl(313.2, 80%, 50%)}
88%{background-color: hsl(316.8, 80%, 50%)}
89%{background-color: hsl(320.4, 80%, 50%)}
90%{background-color: hsl(324, 80%, 50%)}
91%{background-color: hsl(327.6, 80%, 50%)}
92%{background-color: hsl(331.2, 80%, 50%)}
93%{background-color: hsl(334.8, 80%, 50%)}
94%{background-color: hsl(338.4, 80%, 50%)}
95%{background-color: hsl(342, 80%, 50%)}
96%{background-color: hsl(345.6, 80%, 50%)}
97%{background-color: hsl(349.2, 80%, 50%)}
98%{background-color: hsl(352.8, 80%, 50%)}
99%{background-color: hsl(356.4, 80%, 50%)}
100%{background-color: hsl(360, 80%, 50%)}
}