@import "main.css";

header{
    flex: 0 0 auto;
    height: 40px; 
    background-color: var(--main-color);
    position: relative;
    z-index: 1;
}

header > *{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#sair{
    right: calc(5px + 1%);
    font-family: 'Material Icons';
    font-size: 2rem;
}

#mudaTema{
    font-size: 2rem;
    right: calc(45px + 1%);
    font-family: 'Material Icons';
}