header{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 50px;

    background: var(--main-color);
    position: fixed;
    transition: .2s 0s transform ease-out;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.effectMove{
    transition: .6s 0s transform ease-in;
    transform: translateY(-50px);
}

#icone{
    flex: 0 0 auto;
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    font-weight: bolder;

    text-shadow: 1px 1px var(--secondary-extra);
}

#botoes{
    height: 52px;
    display: flex;
    overflow-y: visible;
}

#botoes > a{
    float: left;
    display: block;
    color: var(--text-extra);
    text-decoration: none;
    font-size: 1.2em;
    height: 100%;
    font-weight: bold;
    

    padding: 13px 10px 10px 10px;
    border-bottom: 3px solid var(--secondary-extra);

    background-color: var(--background-color);

    cursor: pointer;
}

#botoes > a:hover{
    background-image: linear-gradient(to bottom, var(--secondary-color), var(--secondary-extra));
    border-bottom-color: var(--secondary-color);
}

#mudaTema{
    padding: 3px;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

@media screen and (max-width: 730px) {
    #icone{
        order: 0;
    }
    #botoes{
        order: 2;
    }
    header{
        justify-content: space-around;
        padding-bottom: 5px;
    }

    .effectMove{
        transform: translateY(-101px);
    }


}
