@import "main.css";

header{
    flex: 0 0 auto;
    height: 40px; 
    background-color: var(--main-color);
    position: relative;
}

header > *{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#sair{
    right: calc(5px + 1%)
}

#mudaTema{
    
    right: calc(45px + 1%)
}