@import "main.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

header{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 50px;

    background: var(--main-color);
    position: fixed;
    transition: .2s .1s transform ease-out;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

#header_principal{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5%;
    padding: 0 5%;

    width: 100%;
    align-items: center;
}

#header_principal > input{
    flex: 2 1 40%;
    height: 30px;
    outline: none;
    color: black;
    border-color: var(--secondary-color);
}


.effectHeader{
    transition: .6s 0s transform ease-in;
    transform: translateY(-102px);
}

#icone{
    flex: 0 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    font-weight: bolder;

    text-shadow: 1px 1px var(--secondary-extra);
 
    font-family: cursive;
}

#botoes{
    height: 52px;
    display: flex;
    overflow-y: visible;
}

#botoes > button{
    float: left;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2em;
    height: 100%;
    font-weight: bold;
    
    padding: 13px 10px 10px 10px;

    outline: none;
    border: none;

    background-color: var(--main-color);
}

#botoes > button:hover, #botoes > button:focus{
    color: var(--text-extra);
    text-decoration: underline; 
}

#mudaTema{
    font-size: 34px;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    header{
        justify-content: center;
        padding: 0 1%;
        gap: 0;
    }

    #icone {
        font-size: 0px;
    }
}
