*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	height: 80px;
	color: var(--cor-principal-fonte-h2);
	background-color: var(--cor-principal);
	position: relative;
}

header > *{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

header > h2{
	left: 10%;
}

header > .options{
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	display: flex;
}

header > .options > span{
	position: relative;
	padding: 15px 20px;
	display: flex;
}

header > .options > span:hover{
	/* font-weight: bold; */
}

header > .options > span > .more{
	font-family: "Material Icons";
	font-size: 1.3em;
	align-items: center;
	justify-content: center;
}

header > .options > span > .moreContent{
	display: none;
}

header > .options > span:hover > .moreContent{
	position: absolute;
	display: flex;
	
	right: -1px;
	top: 45px;
	position: absolute;
	background-color: var(--cor-principal-inversa);
	min-width: 40px;
	height: 55px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 15px 0px;
	border-radius: 10px;
	z-index: 5;
	list-style: none;
}

header > .options > span:hover > .moreContent > li{
	padding: 0.50em 1.5em;
	color: var(--cor-secundaria-fonte-h1-h2);
}

header > .options > span:hover > .moreContent > li:hover{
	background-color: var(--cor-secundaria-escura);
}

header > .options > span > .moreContent::before{
	position: absolute;
	content: "";
	padding: 6px;
	background-color: var(--cor-principal-inversa);
	right: 15px;
	z-index: -1;
	transform: rotate(45deg);
	top: -5px;
}

header > .colorChooser{
	display: flex;
	align-items: center;
	right: 10%;
	padding: 5px;
}

header > .colorChooser:hover > .container{
	display: flex;
}

header > .colorChooser > .container::before{
	position: absolute;
	content: "";
	padding: 6px;
	background-color: var(--cor-principal-inversa);
	right: 20px;
	z-index: -1;
	transform: rotate(45deg);
	top: -5px;
}

header > .colorChooser > .container{
	right: 10px;
	top: 50px;
	position: absolute;
	background-color: var(--cor-principal-inversa);
	min-width: 40px;
	height: 55px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0px 15px;
	border-radius: 10px;
	z-index: 5;
	display: none;
}

header > .colorChooser > .container > *{
	appearance: none;
	width: 45px;
	height: 45px;
	border-radius: 50px;
}

header > .colorChooser > .container > *:checked{
	border: 3px solid red;
}

header > .colorChooser::before{
	display: block;
	content: "";
	width: 40px;
	height: 40px;
	border: 2px solid black;
	background-color: var(--cor-secundaria-clara);
	border-radius: 100%;
}

header > .colorChooser::after{
	position: relative;
	left: -10px;
	display: block;
	content: "arrow_drop_down";
	font-family: "Material Icons";
	font-size: 42px;
}

/* 58.875em */
/* 101.5em */