* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 200vh;
}

body * {
    color: var(--text-color);
}


/*aqui vai a tema de cores, padrao escuro*/
*:root {
    --main-color: white;
    --main-extra: white;
    --background-color: white;
    --background-extra: white;
    --secondary-color: white;
    --secondary-extra: white;
    --text-color: white;
    --text-extra: white;


    /*
    --main-color: #f4ef75;
    --background-color: #ece470;
    --secondary-color: #ec0;
    --secondary-extra: #da0;
    --text-color: #311;
    --text-extra: #621;
    */
}
