@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh;
    
}

body * {
    color: var(--text-color);
}


/*aqui vai a tema de cores, padrao escuro, determinado por js*/
*:root {
    --main-color: white;
    --main-extra: white;
    --background-color: white;
    --background-extra: white;
    --secondary-color: white;
    --secondary-extra: white;
    --text-color: white;
    --text-extra: white;
}
