@import "main.css";

main{
    width: 100%;
    min-height: 500px;
    background-color: var(--main-extra);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section{
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 0.25%;
}

.listaHamburger{

    width: 240px;
    height: 360px;
    border: 2px solid black;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    background-color: var(--secondary-extra);
}

.listaHamburger > img{
    height: 45%;
    width: 100%;
    flex: 0 0 60%;
    border: 1px solid blue;
}

.listaHamburger > span{
    align-self: flex-start;
    padding: 8px;
    margin-left: 12px;
    font-size: 1.2em;
    font-weight: bold;
}

.listaHamburger > p{
    align-self: flex-start;
    text-align: justify;
    margin: 0 8px;
    flex: 1 0 auto;
}

.listaHamburger > .valor{
    border: 1px saddlebrown solid;
    padding: 5px;
    align-self: flex-end;
    margin-right: 10px;
}

@media screen and (max-width: 1024px){
    aside{
        display: none;
    }
}