@import "main.css";
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v84/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v111/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

body{
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

main{
    flex: 1 0 auto;
    display: flex;
    flex-flow: wrap row;
}

main > nav{
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vh;
    width: 110px;
    overflow: hidden;

    background-color: var(--background-extra);
}

nav > button {
    outline: none;
    background: none;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: center;
}

nav > button > *{
    color: var(--text-extra);
    filter: grayscale();
}


.iconeGrande{
    font-size: 5rem;
    font-family: "Material Icons Outlined";
}

nav > button:hover .iconeGrande{
    filter: none;
}

.alvo-button{
   background-color: red;
    font-family: 'Material Icons', "Material Icons Outlined";
}


.titulo{
    word-wrap: break-word;
    font-weight: bold;
    font-size: 1.1em;
}

footer{
    flex: 0 0 auto;
    background-color: var(--main-extra);
    text-align: center;
}

@media screen and (max-width: 1024px){
    *:root{
        font-size: 14px;
    }
    
    main{
        flex-flow: wrap column-reverse;
    }

    main > nav{
        flex-flow: nowrap row;
        width: 100%;
    }

    .iconeGrande{
        font-size: 4rem;
    }
}