@import "main.css";

body{
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

main{
    flex: 1 0 auto;
    display: flex;
    flex-flow: wrap row;
}

main > nav{
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2vh;
    width: 110px;
    overflow: hidden;

    background-color: var(--background-extra);
}

main > section{
    flex: 2 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;
}

nav > button {
    outline: none;
    background: none;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: center;
}

nav > button > *{
    color: var(--text-extra)
}

nav > button:hover > *{
    filter: invert();
}


.iconeGrande{
    font-size: 5rem;
}

.titulo{
    word-wrap: break-word;
    font-weight: bold;
    font-size: 1.1em;
}

footer{
    flex: 0 0 auto;
    background-color: var(--main-extra);
    text-align: center;
}

@media screen and (max-width: 1024px){
    *:root{
        font-size: 14px;
    }
    
    main{
        flex-flow: wrap column-reverse;
    }

    main > nav{
        flex-flow: nowrap row;
        width: 100%;
        padding: 5px 0px;
    }

    .iconeGrande{
        font-size: 4.5rem;
    }

    .titulo{
        display: none;
    }
    
    
}