@import "main.css";

body{
    display: flex;
    flew-wrap: nowrap column;
    justify-content: center;
    align-items: stretch;
}

header{
    flex: 0 0 auto;
    height: 40px; 
    background-color: var(--main-color);
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: center;
}

main{
    flex: 1 0 auto;
    display: flex;
    flex-flow: nowrap row;
    

    background-color: blue;
}

main > nav{
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    background: red;
    align-items: center;
    justify-content: center;
    gap: 12%;
}

nav > button{
    outline: none;
    background: none;
    border: none;
    padding: 100px;
}

nav span{

    font-size: 2em;
}

footer{
    flex: 0 0 100;
    background-color: yellow;
}