#janela {
    flex: 5 0 auto;
    margin: 2rem 5%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#janela table{
    border: 5px solid var(--main-extra);
    min-height: 50px;
}

#janela table > tbody > tr:nth-child(odd){
    background-color: #77777707;
}

#janela table > tbody > tr:nth-child(even){
    background-color: #77777710;
}

#janela #excluir{
    padding: 32px;
    background-color: red;
}

@media screen and (max-width: 1024px) {
    #janela {
        margin: 0 0;
    }
}
